.button {
  display: flex;
  align-self: center;
  background: var(--primary);
  color: var(--white);
  font-family: var(--font-family);
}

.button:hover,
.button:focus {
  background: var(--secondary);
}
