.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form__group {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.form__group--full {
  flex: 1 1 100%;
}

.form__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  margin-bottom: 8px;
  color: #fff;
}

.form__input {
  background-color: #2b2d39;
  color: #fbfdfc;
  border: 1px solid #61636b;
  padding: 12px 15px;
  border-radius: 6px;
  font-size: 14px;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.form__input:focus {
  outline: none;
  border-color: var(--primary);
  background-color: #32333f;
}

.form__input::placeholder {
  color: #7c7f88;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--white);
  flex: 1;
}

.form__checkbox-input {
  accent-color: var(--primary);
}

.form__checkbox-label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.form__button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0 40px;
}

@media (width <= 1640px) {
  .form {
    flex-direction: column;
    gap: 16px;
  }

  .form__group {
    flex: 1 1 100%;
  }

  .form__checkbox-container {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
