.header {
  display: flex;
  flex-direction: column;
  background-image: url('./src/images/background.png');
  background-size: cover;
  gap: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 345px;
}

.header__logo {
  display: flex;
  padding-right: 60px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
}

.header__item:hover {
  color: blueviolet;
}

.header__text--opacity {
  opacity: 0.6;
}

.header__link--opacity {
  opacity: 0.6;
}

.header__button {
  border-radius: 4px;
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
}

.header__way {
  display: flex;
  gap: 8px;
  width: 100%;
  padding: 60px 716px 32px 717px;
}

.header__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  white-space: nowrap;
}

.header__client {
  padding: 0 885px;
}

.header__title {
  padding: 24px 450px 140px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
